<div>
  <div class= "chat-title d-flex align-items-center">
    <small>
      <%= link_to user_path(@user) do %>
      <div class="chat-index-card-user">
        <%= cl_image_tag @user.avatar.key, class:"avatar"  %>
      </div>
      <% end %>
    </small>
    <div>
      <h5><%= @user.username %></h5>
    </div>
  </div>
</div>


<div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <%# <h1><%= @chatroom.id</h1>  %>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ?
                  'justify-content-end' : 'justify-content-start' %>">
        <div class="message-card <%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>


  <div>
    <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
        class: ""} do |f|%>
      <div class="chat-form d-flex align-items-start">
        <div class="chat-input flex-grow-1">
          <%= f.input :content, label: false, input_html: { class: "chat-input-style" } %>
        </div>
        <div>
          <%= f.submit "Send", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
