<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @user.banner.key %>')">
    <h2> <%= cl_image_tag @user.avatar.key, class:"avatar-large"  %> </h2>
    <h2><%= @user.username %></h2>
    <div class="container-banner">
      <p> <%= @user.city %> </p>
  <%  if @user == current_user %>
      <p> <%= render "users/user_details_form", user: @user %> </p>
  <% else %>
      <div class="d-flex justify-content-around">
        <div>
          <p> <%= render "users/user_follow_button", user: @user %> </p>
        </div>
        <div>
          <p> <%= render "users/user_message_button", user: @user, chatroom: @chatroom %> </p>
        </div>
  <% end %>
      </div>
    </div>
</div>
    </div>


<div class="d-flex card-stats-container justify-content-around text-center">

  <div class="card-stats p-2">
    <h3><strong><%= @user.attendances.count %></strong></h3>
    <h3>Shows</h3>
    </div>

  <button data-bs-toggle="offcanvas" data-bs-target="#followerButton" aria-controls="offcanvasBottomPast">
    <div class="card-stats p-2">
      <h3><strong> <%= @user.followers.count %> </strong></h3>
      <h3>Followers</h3>
    </div>
  </button>
  <%= render "display_followers", user: @user %>

  <button data-bs-toggle="offcanvas" data-bs-target="#followingButton" aria-controls="offcanvasBottomPast">
    <div class="card-stats p-2">
      <h3><strong> <%= @user.all_following.count %> </strong></h3>
      <h3>Following</h3>
    </div>
  </button>
  <%= render "display_following", user: @user %>
</div>

<div class="grid-container">
  <% @reviews.each do |review| %>
    <%= link_to "#{concert_path(review.concert)}" do %>
    <div class="user-review-card shadowed-box" style="height: 100px">
      <%= cl_image_tag review.concert.artist.photo.key, class:"square-image mh-100", style: "width: 100px; object-fit: cover" %>
      <div class="list-group user-review-card-content" >
        <p><strong><%= Artist.find(review.concert.artist_id).name %></strong></p>
        <p><%= "#{review.concert.city} - #{review.concert.date.strftime('%d/%m/%Y')}" %></p>
    <% end %>
    </div>

      <div class="list-group user-review-card-content text-center" style="width: 125px">
        <%= render "shared/rating", review: review %>
        <p><strong><%= link_to "Read Review", "#{concert_path(review.concert)}##{review.id}" %></strong></p>
      </div>
    </div>
   <% end %>
</div>
