<div class="menu-bar container-fluid">
  <div class="flex-icon">
    <%= link_to root_path do %>
      <%= image_tag "Home.svg", alt: "Home" %>
    <% end %>
  </div>
  <div class="flex-icon">
    <%= link_to concerts_path do %>
      <%= image_tag "Vector.svg", alt: "search" %>
    <% end %>
  </div>
  <div class="flex-icon">
    <%= link_to root_path do %>
      <%= image_tag "chatbubbles.svg", alt: "chat" %>
    <% end %>
  </div>
  <div class="flex-icon">
    <%= link_to root_path do %>
      <%= image_tag "Profile.svg", alt: "profile" %>
    <% end %>
  </div>
</div>
