<div class="menu-bar container-fluid">
  <div class="flex-icon">
    <%= link_to root_path do %>
      <%= image_tag "Home.svg", alt: "Home" %>
    <% end %>
  </div>
  <div class="flex-icon">
    <%= link_to concerts_path do %>
      <%= image_tag "Vector.svg", alt: "search" %>
    <% end %>
  </div>
  <div class="flex-icon">
    <%= link_to chatrooms_path(@chatrooms) do %>
      <%= image_tag "chatbubbles.svg", alt: "search" %>
    <% end %>
  </div>
  <div class="flex-icon">
  <% if user_signed_in? %>
    <%= link_to user_path(current_user.id) do %>
      <%= image_tag "Profile.svg", alt: "profile" %>
    <% end %>
  <% else %>
    <%= link_to user_session_path do %>
      <%= image_tag "Profile.svg", alt: "profile" %>
    <% end %>
  <% end %>
  </div>
</div>
