<%= render "homepage_banner" %>

<% if @concerts.present? %>
  <div>
  <p>Upcoming shows near you</p>
    <% @concerts.each do |concert| %>
    <%#= concert.date.class %>
      <% if (concert.date).after?(Date.today) %>
        <%= link_to concert_path(concert) do %>
          <%= render "concerts/concert_card", concert: concert %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div>
  <p>Latest reviews</p>
</div>

<div class="grid-container">
  <% @reviews.each do |review| %>
  <%= link_to concert_path(review.concert) do %>
    <%= render "user_review_card", review: review %>
  <% end %>
<% end %>
</div>
