<div class="concert-card shadowed-box"
    data-toggle-upcoming-target="card"
     data-date="<%= concert.date %>">
  <%= cl_image_tag concert.artist.photo.key, class:"square-image"  %>
  <div class="concert-card-content">
    <p><strong><%= concert.artist.name %></strong></p>
    <p><%= concert.city %></p>
    <p><%= concert.date.strftime('%d/%m/%Y') %></p>
  </div>
</div>
