<div class="shadowed-box review-card" >
  <%= link_to user_path(review.user) do %>
   <div class="review-card-user">
      <%= cl_image_tag review.user.avatar.key, class:"avatar"  %>
      <p><strong><%= review.user.username %></strong></p>
   </div>
  <% end %>
  
  <div class="review-card-media">
    <%= cl_image_tag review.photos.first.key, class:"square-image"  %>

  </div>
  <% unless review.photos.count == 0 %>
    <div class="review-card-media">
      <%= cl_image_tag review.photos.first.key, class:"square-image"  %>
    </div>
  <% end %>
  <p><%= "â­" * review.rating %></p>
  <div class="review-card-content">
    <p><%= review.content %></p>
  </div>

  <div class="review-card-interactions">
    <div>
      <%= image_tag "comment.svg", alt: "comment"%>
    </div>
    <div>
    <% if current_user.favorited?(review) %>
      <%= link_to unlike_review_path(review), data: { turbo_method: :delete }  do %>
        <%= render "shared/likes", class_icon: "heart-fill" %>
      <% end %>
    <% else %>
      <%= link_to like_review_path(review), data: { turbo_method: :post }  do %>
        <%= image_tag "heart-light"%>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
