<div class="shadowed-box review-card" data-controller="review-comment" id="<%= review.id %>">
  <%= link_to user_path(review.user) do %>
   <div class="review-card-user">
      <%= cl_image_tag review.user.avatar.key, class:"avatar"  %>
      <p><strong><%= review.user.username %></strong></p>
   </div>
  <% end %>

  <% unless review.photos.count == 0 %>
    <div class="review-card-media">
      <%= cl_image_tag review.photos.first.key, class:"square-image"  %>
    </div>
  <% end %>
  <div class="review-card-rating">
    <%= render "shared/rating", review: review %>
  </div>
  <div class="review-card-content">
    <p><%= review.content %></p>
  </div>

  <div class="review-card-interactions" data-controller="review-like" data-review-like-count-value=<%= review.favoritors.count %> data-review-like-liked-value=<%= current_user.favorited?(review) %>>
    <div class="interation-section">
      <div class="interaction-item">
        <%= image_tag "comment.svg", alt: "comment", data: {action: "click->review-comment#display"}%>
      </div>
      <div class="interaction-item">
        <p data-review-comment-target="count"><%= review.comments.count %></p>
      </div>
    </div>

    <div class="interation-section">
      <div class="interaction-item">
        <% if current_user.favorited?(review) %>
          <%= link_to unlike_review_path(review), data: { review_like_target: "icon", action:"click->review-like#like" }  do %>
              <%= render "shared/likes"%>
            <% end %>
        <% else %>
          <%= link_to like_review_path(review), data: { turbo_method: :post, review_like_target: "icon", action:"click->review-like#like" }  do %>
              <%= render "shared/not_liked"%>
          <% end %>
        <% end %>
      </div>
      <div class="interaction-item">
          <p data-review-like-target="likes" ><%= review.favoritors.count %></p>
     </div>
    </div>
  </div>

  <%= render "comment_form", {comment: @comment, review:review} %>

  <div data-review-comment-target="comments" class="d-none" >
    <% review.comments.order(created_at: :desc).first(3).each do |comment| %>
      <%= render "comment", comment: comment %>
    <% end %>
  </div>
</div>
