<div class="shadowed-box review-card" data-controller="review-comment">
  <%= link_to user_path(review.user) do %>
   <div class="review-card-user">
      <%= cl_image_tag review.user.avatar.key, class:"avatar"  %>
      <p><strong><%= review.user.username %></strong></p>
   </div>
  <% end %>

  <% unless review.photos.count == 0 %>
    <div class="review-card-media">
      <%= cl_image_tag review.photos.first.key, class:"square-image"  %>
    </div>
  <% end %>
  <div class="review-card-rating">
    <p><%= "â­" * review.rating %></p>
  </div>
  <div class="review-card-content">
    <p><%= review.content %></p>
  </div>

  <div class="review-card-interactions">
    <div>
      <%= image_tag "comment.svg", alt: "comment", data: {action: "click->review-comment#display"}%>
    </div>
    <%# <div>
      <%# <p><%= review.comments.count %>
    <%# </div>  %>
    <div>
      <% if current_user.favorited?(review) %>
        <%= link_to unlike_review_path(review), data: { turbo_method: :delete }  do %>
          <%= render "shared/likes", class_icon: "heart-fill" %>
        <% end %>
      <% else %>
        <%= link_to like_review_path(review), data: { turbo_method: :post }  do %>
          <%= render "shared/not_liked", class_icon: "heart-fill" %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if review.favoritors.count > 0  %>
        <p><%= review.favoritors.count %></p>
      <% end %>
    </div>
  </div>

  <%= simple_form_for ( [review, @comment] ), html: {id:"comment_form"} do |f| %>
    <div class="new_review_form">
      <div class="field">
        <%= f.input :content, as: :text, label: false, placeholder:"Type your comment", input_html: {id:"content_field"} %>
      </div>
      <div>
        <%= f.button :submit, ">" %>
      </div>
    <% end %>
  </div>

  <% review.comments.order(created_at: :desc).first(3).each do |comment| %>
    <%= render "comment", comment: comment %>
  <% end %>
</div>
