<div class="shadowed-box review-card">
  <%= link_to user_path(review.user) do %>
   <div class="review-card-user">
      <%= cl_image_tag review.user.avatar.key, class:"avatar"  %>
      <p><strong><%= review.user.username %></strong></p>
   </div>
  <% end %>
  <div class="review-card-media">
    <%= cl_image_tag review.photos.first.key, class:"square-image"  %>
    <p><%= "â­" * review.rating %></p>
  </div>
  <div class="review-card-content">
    <p><%= review.content %></p>
  </div>
  <div>
    <% if current_user.favorited?(review) %>
      <h3><%= link_to "liked", unlike_review_path(review), data: { turbo_method: :delete } %></h3>
    <% else %>
      <h3><%= link_to "LIKE", like_review_path(review), data: { turbo_method: :post } %></h3>
    <% end %>
  </div>

</div>
