<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path @concert.artist.banner.key %>')">
  <h2><%= concert.artist.name %></h2>
    <div class="container-banner">
      <p> <%= concert.venue %> -  <%= concert.city %> - <%= concert.date.strftime('%d/%m/%Y') %> </p>

<div>
      <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
        <p><%= image_tag "pplattended.svg", alt: "people check" %> <%= concert.attendances.count %> users attending</p>
      </button>

</div>


        <% if current_user.attended?(concert) %>
          <%= link_to "I'm attending", concert_attendances_path(concert), data: { turbo_method: :post }, class:"btn d-none" %>
        <% elsif  %>
          <%= link_to "I'm attending", concert_attendances_path(concert), data: { turbo_method: :post }, class:"btn" %>
        <% end %>
    </div>

  <div class="attending">
    <div>
      <%= link_to concert.tickets_url, target: :_blank do %>
        <p>Buy tickets <i class="fa-solid fa-ticket" style="color: #f9f5eb;"></i></p>
      <% end %>
    </div>
    <% if current_user.attended?(concert) %>
      <div class="attended-icon">
        <%= link_to attendance_path(@attendance),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your attendance?" } do %>
          <p>I'm attending <%= image_tag "i attended.svg", alt: "person check" %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render "display_attenders" %>

</div>
