<h1>Find you concert</h1>

<%= form_with url: concerts_path, method: :get do %>
      <%= text_field_tag :query_artist,
            @artist,
            placeholder: "Type an artist"
        %>
      <%= text_field_tag :query_city,
            @city,
            placeholder: "Type a city"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>

<% @concerts.each do |concert| %>
  <h2><%= "#{concert.artist.name}" %></h2>
  <p><%= "#{concert.city} - #{concert.venue}" %></p>
  <p><%= "#{concert.date} "%></p>
<% end %>