<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url:<%= cl_image_tag(@concert.artist.photo.key)%>">
  <h2><%= @concert.artist.name %></h2>
    <div class="container-banner">
      <p> <%= @concert.venue %> -  <%= @concert.city %> - <%= @concert.date %> </p>
      <% if current_user.attended?(@concert) %>
        <%= link_to new_concert_review_path(@concert, @review), class:"btn" do %>
          <h3>Post a review</h3>
        <% end %>
        <%= link_to attendance_path(@attendance),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your attendance?" } do %>
          <div class="attended-icon">
            <p>I Attended <%= image_tag "i attended.svg", alt: "profile" %></p>
          </div>
        <% end %>
      <% else %>
        <%= link_to concert_attendances_path(@concert), data: { turbo_method: :post }, class:"btn" do %>
          <div class="attended-icon">
          <p>I attended <%= image_tag "i attended.svg", alt: "profile" %></p>
          </div>
        <% end %>
      <% end %>

  </div>
</div>

<br>

<h2><strong>Reviews</strong></h2>

<ul class="list-group">
  <% @concert.reviews.each do |review| %>
    <%= render "review_card", review: review %>
  <% end %>
</ul>

<br>

<div class= btn-back-concerts>
  <%= link_to "Back to all Concerts", concerts_path %>
</div>
