<h1>Concert</h1>

<p><%= @concert.artist.name %></p>
<p> <%= @concert.venue %> </p>
<% if current_user.attended?(@concert) %>
  <%= link_to attendance_path(@attendance),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your attendance?" } do %>
    <p>I Attended icon</p>
  <% end %>
<% else %>
  <%= button_to concert_attendances_path(@concert), data: { turbo_method: :post } do %>
    <h3>I attended</h3>
  <% end %>
<% end %>


<br>


<%= link_to new_concert_review_path(@concert, @review) do %>
  <% if current_user.attended?(@concert) %>
    <h3>Post a review</h3>
  <% end %>
<% end %>

<br>

<h2><strong>Reviews</strong></h2>

<ul class="list-group">
  <% @concert.reviews.each do |review| %>
    <%= render "review_card", review: review %>
  <% end %>
</ul>

<br>

<div class= btn-back-concerts>
  <%= link_to "Back to all Concerts", concerts_path %>
</div>
