<% if Date.today <= @concert.date %>
  <%= render "upcoming_banner", concert: @concert %>
  <%= render "countdown", concert: @concert %>
  <%= render "attending_card", concert: @concert %>
<% else %>
  <%= render "show_banner", concert: @concert %>
<% end %>

<div class="grid-reviews">
    <% @reviews.each do |review| %>
      <div>
        <%= render "review_card", review: review %>
      </div>
    <% end %>
</div>
