<% if Date.today <= @concert.date %>
  <%= render "upcoming_banner", concert: @concert %>
  <%= render "countdown", concert: @concert %>
  <%= render "attending_card", concert: @concert %>
<% else %>
  <%= render "show_banner", concert: @concert %>
<% end %>

<div class="grid-container" >
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <%= render "review_card", review: review %>
    <% end %>
  </ul>
</div>

<div class= btn-back-concerts>
  <%= link_to "Back to all Concerts", concerts_path %>
</div>
